:root {
    --font-family: 'Lato', sans-serif;
    --heading-font-color: rgb(226 232 240/1);
    --body-font-color: rgb(226 232 240/.6);
    --body-bg: rgb(15 23 42/1);
}
html {
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-bg);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    position: relative;
}
.hidden{
    display: none !important;
}
.font-size-0{
    font-size: 0 !important;
}
.cursor-position {
    position: fixed;
    pointer-events: none;
    inset: 0;
    z-index: 30;
    background: radial-gradient(550px at 50% 50%, rgba(29, 78, 216, 0.15), transparent 80%);
    background-repeat: no-repeat;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1118px;
    margin: 0 auto;
    padding: 0 20px;
}
h1{
    font-family: var(--font-family);
    font-size: 48px;
    color: var(--heading-font-color);
    font-weight: 900;
    line-height: normal;
    letter-spacing: -.025em;
    margin: 0;
}
h3{
    font-family: var(--font-family);
    font-size: 22px;
    color: var(--heading-font-color);
    line-height: normal;
    font-weight: 600;
    letter-spacing: .5px;
    margin: 0;
    margin-top: 0.75rem;
}
p{
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--body-font-color);
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: .5px;
    margin: 0;
    margin-top: 1rem;
}
.portfolio-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}
.portfolio-content-left,
.portfolio-content-right{
    padding-top: 6rem;
    padding-bottom: 6rem;
    width: calc(50% - 7.5px);
}
.portfolio-content-left{
    position: sticky;
    top: 0;
    max-height: 100vh;
    padding: 0;
}
.portfolio-content-left-inner{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 80vh;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.portfolio-content-left .portfolio-nav-bar{
    margin-top: 70px;
}
.portfolio-content-left .portfolio-cta{
    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-decoration: none;
    width: fit-content;
}
.portfolio-content-left .portfolio-nav-line{
    width: 35px;
    height: 1px;
    background-color: var(--body-font-color);
    display: block;
    margin-right: 7px;
    transition: all 0.3s ease;
}
.portfolio-content-left .portfolio-cta:hover .portfolio-nav-line,
.portfolio-content-left .portfolio-cta.active .portfolio-nav-line{
    width: 80px;
    height: 1.5px;
    background-color: var(--heading-font-color);
}
.portfolio-content-left .portfolio-nav-text{
    font-family: var(--font-family);
    font-size: 15px;
    color: var(--body-font-color);
    line-height: normal;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.portfolio-content-left .portfolio-cta:hover .portfolio-nav-text,
.portfolio-content-left .portfolio-cta.active .portfolio-nav-text{
    color: var(--heading-font-color);
    font-weight: 900;
}
.portfolio-social ul{
    display: flex;
    align-items: center;
    margin-left: 0.25rem;
    margin-top: 2rem;
}
.portfolio-social svg{
    width: 1.5rem;
    height: 1.5rem;
    display: block;
}
.portfolio-social svg path{
    fill: var(--body-font-color);
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}
.portfolio-social .portfolio-social-list-cta:hover svg path{
    fill: var(--heading-font-color);
} 
.portfolio-social .portfolio-social-list-cta{
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
    display: block;
}
.portfolio-social .portfolio-social-list{
    margin-right: 1.25rem;
}
.portfolio-about-content p{
    margin: 0;
    margin-bottom: 15px;
}
.portfolio-about-content p b{
    color: var(--heading-font-color);
    opacity: 0.7;
    font-style: oblique;
}
section,
footer{
    scroll-margin-top: 6rem;
    margin-bottom: 9rem;
    position: relative;
}
.portfolio-experience-card-left{
    font-family: var(--font-family);
    font-size: 13px;
    line-height: normal;
    font-weight: 600;
    letter-spacing: .025em;
    text-transform: uppercase;
    color: rgb(100 116 139/1);
}
.portfolio-experience-card-title{
    font-size: 17px;
    color: rgb(226 232 240/1);
    line-height: 1.25;
    font-weight: 600;
    text-decoration: none;
    display: inline-flex;
    align-items: baseline;
    transition: all 0.3s ease;
}
.portfolio-experience-card-title:hover{
    color: rgb(94 234 212/1);
}
.portfolio-experience-card-title svg{
    display: inline-block;
    transition: all 0.3s ease;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
}
.portfolio-experience-card-title:hover svg{
    transform: translateY(-3px);
    fill: rgb(94 234 212/1);
}
.portfolio-experience-sub-title{
    font-family: var(--font-family);
    display: block;
    color: rgb(100 116 139/1);
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-top: 2px;
}
.portfolio-experience-list-card{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    margin-bottom: 60px;
}
.portfolio-experience-card-right{
    width: calc(78% - 10px);
}
.portfolio-experience-card-left{
    width: calc(22% - 10px);
}
.portfolio-experience-info p{
    font-size: 15px;
    margin-top: 10px;
}
.portfolio-experience-info p b{
    color: var(--heading-font-color);
    opacity: 0.7;
    font-style: oblique;
}
.portfolio-card-hover{
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border-radius: 6px;
    background-color: rgba(30,41,59,.5);
    transition: all 0.5s ease;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.portfolio-experience-list-card:hover > .portfolio-card-hover{
    opacity: 1;
    visibility: visible;
}
.portfolio-skills-widget{
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    color: rgb(94 234 212/1);
    padding: 4px 7px;
    background-color: rgba(45,212,191,.1);
    border-radius: 9999px;
    display: flex;
    align-items: center;
}
.portfolio-experience-info-skills-content {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}
.portfolio-experience-card-left .portfolio-project-image{
    display: block;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 3px;
    transition: all 0.3s ease;
    margin-bottom: 3px;
}
.portfolio-experience-list-card:hover .portfolio-project-image{
    border-color: rgba(226,232,240,.1);
}
.portfolio-contact-form {
    margin-top: 40px;
}
.portfolio-contact-form h3{
    margin-top: 0;
    margin-bottom: 15px;
}
.portfolio-contact-form-section .contact-input {
    font-family: var(--font-family);
    color: var(--body-font-color);
    font-size: 12px;
    font-weight: 400;
    border-radius: 3px;
    line-height: normal;
    background-color: transparent;
    border: 1px solid var(--body-font-color);
    transition: all 0.3s ease;
    padding: 10px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
.portfolio-contact-form-section  .contact-input:focus{ 
    border: 1px solid var(--heading-font-color);
}
.portfolio-contact-form-section textarea{
    height: 80px;
    resize:vertical;
}
.portfolio-contact-form-section button{
    font-family: var(--font-family);
    color: var(--body-font-color);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 1px solid var(--body-font-color);
    padding: 10px;
    min-height: 38px;
}
.portfolio-contact-form-section button:hover { 
    border: 1px solid var(--heading-font-color);
    color: #000;
    background-color: var(--heading-font-color);
}
.portfolio-contact-form-section .success-message {
    text-align: center;
}
.portfolio-contact-form-section #loading {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: var(--heading-font-color);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}
.portfolio-contact-form-section button:hover #loading{
    border: 3px solid rgb(15 23 42/1);
}

@keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
}
#footer {
    margin: 0;
}
#footer .thank-you{
    text-align: center;
    text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
}